table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

button {
    padding: 7px;
    border-radius: 5px;
    border: gray solid 1px;
    opacity: 1;
}

button:hover {
    opacity: 0.7;
}

fieldset {
    padding: 15px;
    margin: 20px
}

legend {
    background-color: #fbc531;
}

.btnMenu {
    width: 300px;
}

.btnLogin {
    width: 150px;
}

.login {
    background-color: chartreuse;
}

.logout {
    background-color: orangered;
}

select {
    padding: 5px;
    margin-bottom: 20px;
    width: 330px;
}

input {
    padding: 5px;
    background-color: #f5f6fa;
    margin-bottom: 20px;
}

input:hover {
    opacity: 0.8;;
}

.inputLogin {
    width: 290px
}

.inputTiket {
    width: 400px
}

.small {
    width: 190px;
}